<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,minimal-ui,shrink-to-fit=no">
	<title>Lucky Slot Machine</title>
	<style type="text/css">
		* {
			padding: 0;
			margin: 0;
		}
		html, body {
			background-color: #430033;
			overflow: hidden;
			touch-action: none;
			-ms-touch-action: none;
		}
		canvas {
			touch-action: none;
			-ms-touch-action: none;
		}
		@font-face {
		  font-family: 'bebas';
		  font-style: normal;
		  font-weight: 400;
		  src: url(font/bebas.ttf) format('truetype');
		}
	</style>
	<link rel="shortcut icon" sizes="256x256" href="https://itsinhaleyo.online/games/luckyslot/img/icon.png" />
	<script type="text/javascript" src="https://itsinhaleyo.online/games/luckyslot/scripts/phaser.min.js"></script>
	<script type="application/ld+json">{
			"@context": "http://schema.org",
			"@type": "Organization",
			"name": "",
			"url": "https://itsinhaleyo.online/casino/luckyslot",
			"logo": ""
	}</script>
	<meta name="theme-color" content="#478ac9">
	<meta property="og:title" content="Lucky Slot Machine">
	<meta property="og:description" content="">
	<meta property="og:type" content="website">
</head>
<body>
	<div style="font-family:bebas; position:absolute; left:-1000px; visibility:hidden;">.</div>
	<div id="rf_rotate"></div>
	<div id="game_content"></div>
    <script src="https://itsinhaleyo.online/games/luckyslot/lsscript.js" type="text/javascript"></script>
</body>
</html>